* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: #f0efef;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}